

h3
{
font-family:Algerian;
color:#0033CC;
text-align:center;
}
h2
{
font-family:"Times New Roman", Times, serif;
text-align:center;
color:#EE021A
}
*
{background-color:#33FFFF;
}
h4{
text-align:right;}

